.container-footer {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  margin: 2rem auto 0rem 2.9rem;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  margin-top: auto;
}
@media (min-width: 640px) {
  .container-footer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". logo . contacto .";
    width: 100%;
  }

  .logo {
    grid-area: logo;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-container>* {
  margin: 0;
  padding: 0;
}