@keyframes navBar {
  from {
    height: 6rem;
  }
  to {
    height: 4rem;
  }
}
@keyframes logoNavbar {
  from {
    width: 5rem;
  }
  to {
    width: 3rem;
  }
}
.logoNav {
  width: 3rem;
  animation: logoNavbar;
}
.nav {
  height: 4rem;
  animation: navBar;
}
.logoNav,
.nav {
  animation-timeline: scroll();
  animation-range: 0 150px;
}
